MSSQL_SA_PASSWORD=Change_this_SA_password_123!
MSSQL_MIGRATOR_PASSWORD=Change_this_migrator_password_123!
MSSQL_APP_PASSWORD=Change_this_app_password_123!
JWT_PRIVATE_KEY_PEM=-----BEGIN PRIVATE KEY-----\nreplace-with-rsa-private-key\n-----END PRIVATE KEY-----
SMTP_USERNAME=your-account@gmail.com
SMTP_PASSWORD=your-google-app-password
SMTP_FROM_ADDRESS=your-account@gmail.com
VUE_ORIGIN=http://localhost:5173
BOOTSTRAP_ADMIN_ACCOUNT=admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=Change_this_bootstrap_admin_password_123!
